<template>
    <Layout>
      <div class="">
        <!-- Header -->
        <HeaderPage />
        <!-- // -->

        <div class="container mx-auto">
          <h1>{{ $page.project.title }}</h1>
          <VueRemarkContent />
        </div>
      </div>
    </Layout>
</template>

<page-query>
query Project($id: ID!) {
  project(id: $id) {
    id
    title
  }
}
</page-query>


<script>
import HeaderPage from '~/components/HeaderPage.vue';
export default {
  components: {
    HeaderPage
  }
}
</script>