@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-stone-100
}

.btn {
    @apply px-6 py-2 rounded-full
}

.btn.nav-btn {
    @apply py-1 rounded-full text-xl w-40 border-x-2 border-transparent text-teal-700 text-center
}

.btn.nav-btn.active--exact {
    @apply border-teal-800
}

.nav-enter-active, .nav-leave-active { transition:  all .9s ease; }
.nav-enter, .nav-leave-to { 
  opacity: 0; 
  /* transform: translateY(10px); */
}