<template>
  <Layout>
    <div class="">
      <!-- Main Hero -->
      <TopMainPage />
      <!-- // -->

      <!-- Section 2 -->
      <ServiceComponent />
      <!-- // -->

      <!-- Exp -->
      <WorkExperience />
      <!-- // -->

      <!-- Projects -->
      <ProjectPage />
      <!-- // -->
    </div>
  </Layout>
</template>

<script>
import TopMainPage from '~/components/TopMainPage'
import ServiceComponent from '~/components/ServiceComponent'
import WorkExperience from '~/components/WorkExperience'
import ProjectPage from '~/components/ProjectPage'

export default {
  components: {
    TopMainPage, ServiceComponent, WorkExperience,
    ProjectPage
  },
  metaInfo: {
    title: 'Hello, world!'
  }
}
</script>