<template>
    <Layout>
        <div class="">
            <!-- Header -->
            <HeaderPage />
            <!-- // -->
            

            <!-- Content -->
            <div class="container mx-auto mt-16">
                <div class="text-4xl font-medium tracking-wide text-teal-800">
                    My Projects
                </div>

                <div class="grid grid-cols-3 gap-16 mt-16">
                    <g-link :to="i.node.path" v-for="i in $page.allProject.edges" :key="i.node.id" class="block w-full">
                        <div class="rounded-3xl drop-shadow overflow-hidden first-letter:relative">
                            <div class="absolute top-0 left-0 mt-8 ml-8 text-white text-4xl capitalize font-medium tracking-tight">
                                {{ i.node.title }}
                            </div>
                            <g-image src="~/p1.png" class="w-full" />
                        </div>
                    </g-link>
                </div>
            </div>
            <!-- // -->
        </div>
    </Layout>
</template>


<page-query>
query Project {
  allProject {
    edges {
      node {
        title
        banner
        path
        id
      }
    }
  }
}
</page-query>


<script>
import HeaderPage from '~/components/HeaderPage'

export default {
    components: {
        HeaderPage
    }
}
</script>