<template>
    <!-- Header -->
    <div class="">
      <div class="flex items-center container mx-auto">
        <g-link to="/" class="text-lg font-light uppercase tracking-tight" href="">
            <g-image src="~/logo2.png" class="w-32" />
        </g-link>
        <div class="flex-1 flex items-center justify-center space-x-10">
          <g-link to="/" class="btn nav-btn">Service</g-link>
          <g-link to="/" class="btn nav-btn">Experience</g-link>
          <g-link to="/projects" class="btn nav-btn">Projects</g-link>
          <!-- <g-link to="/" class="btn nav-btn">Experience</g-link> -->
        </div>
        <a href="https://wa.me/6282216418455" target="_blank">
          <div class="flex items-center space-x-4 text-teal-700 text-xl py-4">
            <span>
              +62 (822) 1641 8455
            </span>
            <span class="p-2 rounded-full bg-white drop-shadow-lg">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
              </svg>
            </span>
          </div>
        </a>
      </div>
    </div>
    <!-- // -->
</template>