<template>
    <section class="">
        <div class="bg-white py-16">
            <div class="container mx-auto">
                <div class="text-4xl font-medium text-teal-800 tracking-wide">My Projects</div>
                <div class="flex items-center justify-start space-x-10 mt-10">
                    <div class="relative rounded-3xl overflow-hidden drop-shadow">
                        <div class="absolute top-0 left-0">
                            <div class="p-6 text-white text-4xl font-semibold">
                                Oreo
                            </div>
                        </div>
                        <g-image class="w-[500px] h-[500px] object-cover" src="~/p1.png"></g-image>
                    </div>
                    <div class="relative rounded-3xl overflow-hidden drop-shadow">
                        <div class="absolute top-0 left-0">
                            <div class="p-6 text-white text-4xl font-semibold">
                                Pacman
                            </div>
                        </div>
                        <g-image class="w-[500px] h-[500px] object-cover" src="~/p2.png"></g-image>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>