<template>
    <section>
      <div class="bg-white py-32">
        <div class="max-w-5xl w-full mx-auto">
          <div class="grid grid-cols-2 gap-32">
            <div class="space-y-16">
              <div class="rounded-xl shadow-lg drop-shadow px-6 py-3 flex items-center space-x-6">
                <div class="p-6 rounded-full bg-teal-700 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
                  </svg>
                </div>
                <div class="space-y-1">
                  <div class="text-2xl font-medium">Web Development</div>
                  <div class="text-gray-500">Microservice - Responsive Design</div>
                </div>
              </div>
              <div class="rounded-xl shadow-lg drop-shadow px-6 py-3 flex items-center space-x-6">
                <div class="p-6 rounded-full bg-yellow-500 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 7.5l3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0021 18V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v12a2.25 2.25 0 002.25 2.25z" />
                  </svg>
                </div>
                <div class="space-y-1">
                  <div class="text-2xl font-medium">Script Code</div>
                  <div class="text-gray-500">Web Scraping - Robotic Automation Platform (RPA)</div>
                </div>
              </div>
              <div class="rounded-xl shadow-lg drop-shadow px-6 py-3 flex items-center space-x-6">
                <div class="p-6 rounded-full bg-orange-700 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                  </svg>
                </div>
                <div class="space-y-1">
                  <div class="text-2xl font-medium">SQL Database</div>
                  <div class="text-gray-500">Oracle - PostgreSQL - MySQL - MariaDB</div>
                </div>
              </div>
            </div>
            <div class="">
              <div class="text-4xl text-teal-800 font-medium tracking-wide">What do I help?</div>
              <div class="mt-10 text-gray-500 text-lg leading-relaxed">
                I will help you with finging a solution and solve your problem
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</template>
