<template>
    <section>
      <div class="relative h-screen">
        <HeaderPage />
        <!-- Image Profile -->
          <g-image src="~/strips.png" class="absolute bottom-[50%] translate-y-[50%]  left-[50%] -translate-x-[50%] w-[700px]"></g-image>
          <g-image src="~/profile.png" class="absolute bottom-0 left-[50%] -translate-x-[50%] w-[450px]"></g-image>
        <!-- // -->
         <div class="container mx-auto h-full">
          <div class="flex flex-col h-full justify-around">
            <div class="flex items-center justify-between">
              <div class="text-6xl font-medium">
                <div class=" leading-tight">
                  Hello, <br>
                  I'm Anderi
                </div>
                <div class="-mt-4">
                  <span class="text-2xl p-1 bg-orange-500 text-white">Fullstack Web Developer</span>
                </div>
              </div>
              <div class="text-2xl font-light leading-relaxed text-gray-600  max-w-sm w-full">
                I develop responsive websites using <span class="font-normal">Python</span> and <span class="font-normal">Vue / React Framework</span>
              </div>
            </div>
            
            <div class="">
              <div class="flex items-center justify-between">
                <div class="max-w-xl w-full">
                  <div class="flex items-center space-x-3">
                    <div class="text-5xl font-semibold p-1 bg-black text-white">5</div>
                    <div class="uppercase text-xl text-gray-600 leading-6">year <br> experience</div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</template>

<script>
  import HeaderPage from '~/components/HeaderPage'
  export default {
    components: {
      HeaderPage
    }
  }
</script>