<template>
    <section class="bg-gradient-to-r from-yellow-50 via-white to-stone-200">
        <div class="max-w-5xl w-full mx-auto py-24">
            <div class="text-center text-4xl font-medium text-teal-800">Work Experience</div>
            <ul class="mt-16">
                <li>
                    <div class="flex">
                        <div class="max-w-xl w-full">
                            <div class="text-xl font-medium text-gray-800">
                                Telkom
                                <p class="font-light text-gray-500 text-lg">Sep 2017 - Now</p>
                            </div>
                        </div>
                        <div class="relative border-l-2 border-dashed border-gray-300">
                            <div class="absolute -mt-5 -ml-5 bg-white top-0 left-0 p-3 rounded-full border-2 border-dashed border-gray-300">
                                <div class="w-3 h-3 rounded-full bg-teal-500"></div>
                            </div>
                            <div class="px-16 mb-10 -mt-4">
                                <div class="text-xl font-medium">
                                    Fullstack Web Developer
                                </div>
                                <div class="mt-3 leading-relaxed text-gray-700">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, at natus? Ad, cumque iusto. Ad quos quo illum delectus, dicta, dolorem rerum architecto aliquid mollitia maxime, eos consectetur! Impedit, velit!
                                </div>
                            </div>
                        </div>
                    </div> 
                </li>
                <li>
                    <div class="flex">
                        <div class="max-w-xl w-full">
                            <div class="text-xl font-medium text-gray-800">
                                Telkom
                                <p class="font-light text-gray-500 text-lg">Sep 2015 - Sep 2017</p>
                            </div>
                        </div>
                        <div class="relative border-l-2 border-dashed border-gray-300">
                            <div class="absolute -mt-5 -ml-5 bg-white top-0 left-0 p-3 rounded-full border-2 border-dashed border-gray-300">
                                <div class="w-3 h-3 rounded-full bg-yellow-400"></div>
                            </div>
                            <div class="px-16 mb-10 -mt-4">
                                <div class="text-xl font-medium">
                                    Database Admin
                                </div>
                                <div class="mt-3 leading-relaxed text-gray-700">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, at natus? Ad, cumque iusto. Ad quos quo illum delectus, dicta, dolorem rerum architecto aliquid mollitia maxime, eos consectetur! Impedit, velit!
                                </div>
                            </div>
                        </div>
                    </div> 
                </li>
                <li>
                    <div class="flex">
                        <div class="max-w-xl w-full">
                            <div class="text-xl font-medium text-gray-800">
                                ZTE Indonesia
                                <p class="font-light text-gray-500 text-lg">Sep 2014 - Mar 2015</p>
                            </div>
                        </div>
                        <div class="relative border-l-2 border-dashed border-gray-300">
                            <div class="absolute -mt-5 -ml-5 bg-white top-0 left-0 p-3 rounded-full border-2 border-dashed border-gray-300">
                                <div class="w-3 h-3 rounded-full bg-orange-500"></div>
                            </div>
                            <div class="px-16">
                                <div class="text-xl font-medium">
                                    Network Engineer
                                </div>
                                <div class="mt-3 leading-relaxed text-gray-700">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, at natus? Ad, cumque iusto. Ad quos quo illum delectus, dicta, dolorem rerum architecto aliquid mollitia maxime, eos consectetur! Impedit, velit!
                                </div>
                            </div>
                        </div>
                    </div> 
                </li>
            </ul>
        </div>
    </section>
</template>