<template>
  <div class="relative">
    <transition name="nav" appear>
      <!-- Header -->
      <div v-if="scrolly>60" class="fixed top-0 inset-x-0 bg-white z-30 shadow">
        <HeaderPage />
      </div>
      <!-- // -->
  </transition>
   
  <transition name="nav" appear>
    <slot />
  </transition>

    <!-- Footer -->
    <footer>
      <div class="container mx-auto py-16">
        <div class="flex justify-between">
          <div class="w-full max-w-2xl">
            <div class="text-4xl font-semibolds text-teal-800 leading-relaxed">
              Let's make somethings amazing together.
              <div class="mt-16">
                Start by <span class="text-orange-500 border-b border-orange-500">saying hi</span>
              </div>
            </div>
          </div>
          <div class="w-full max-w-2xl">
            <div class="text-3xl font-medium ml-6">
              Address
              <div class="font-light mt-4 text-2xl">
                Kenaiban 5, Karawaci - Tanggerang, Banten
              </div>
            </div>
            <div class="mt-10">
              <ul class="space-y-4">
                <li>
                  <button class="px-6 py-2 rounded-full text-xl text-light border border-gray-100 border-x-teal-700 text-teal-700">Service</button>
                </li>
                <li>
                  <button class="px-6 py-2 rounded-full text-xl text-light border border-gray-100 text-teal-700">Work</button>
                </li>
                <li>
                  <button class="px-6 py-2 rounded-full text-xl text-light border border-gray-100 text-teal-700">Note</button>
                </li>
                <li>
                  <button class="px-6 py-2 rounded-full text-xl text-light border border-gray-100 text-teal-700">Experience</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- // -->
  </div>
</template>

<script>
  import HeaderPage from '~/components/HeaderPage'
  export default {
    components: {
      HeaderPage
    },
    data () {
      return {
        show:false,
        scrolly: 0
      }
    },
    beforeMount () {
    window.addEventListener('scroll', this.handleScroll)
    },
    beforeDestroy () {
      window.removeEventListener('scroll', this.handleScroll)
    },
    methods: {
      handleScroll () {
        // Your scroll handling here
        this.scrolly = window.scrollY
      }
    }
  }
</script>


<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>
